In [1]:
##start here and press shift enter to run line by line
import pandas as pd
tax = .065

In [3]:
##imports csv file - change csv file name if needed.

taxes_df = pd.read_csv(
    "taxes.csv",
    encoding='unicode_escape')

In [4]:
##sorts out just xcart orders and the columns that are needed

xcart = taxes_df.loc[taxes_df['integrationName'] == 'XCart', ['orderNumber', 'toState', 'itemTitle', 'itemQuantity', 'itemPrice']]

In [5]:
##adds column named sum and multiplies quantity by the item price and saves the information to a new csv, change file name as needed

xcart['sum'] = xcart.itemQuantity * xcart.itemPrice

xcart.to_excel('march.xlsx', index= True)

In [6]:
print(xcart)

   orderNumber toState                                          itemTitle  \
3     ="39029"      TX                             Tomenosuke Blaster Air
4     ="37087"      FL                HCG Exclusive Predator Plasmacaster
6     ="39027"      ON                             Tomenosuke Blaster Air
7     ="37692"      AB   HCG Exclusive Predator 2 Smart Disc Prop Replica
8     ="37692"      AB  HCG Exclusive Predator 2 Life-Size Netgun and ...
..         ...     ...                                                ...
92    ="38955"      CA                             Tomenosuke Blaster Air
93    ="38950"      CA                             Tomenosuke Blaster Air
94    ="38947"      VA                             Tomenosuke Blaster Air
95    ="38944"      CA                             Tomenosuke Blaster Air
96    ="38941"      MN                             Tomenosuke Blaster Air

    itemQuantity  itemPrice      sum
3            1.0    1599.95  1599.95
4            2.0     699.95  1399.90
6            1.0    1599.95  1599.95
7            1.0     799.95   799.95
8            1.0     599.95   599.95
..           ...        ...      ...
92           1.0    1599.95  1599.95
93           1.0    1599.95  1599.95
94           1.0    1599.95  1599.95
95           2.0    1599.95  3199.90
96           1.0    1599.95  1599.95

[78 rows x 6 columns]

In [7]:
##adds the sum up of all the orders and prints the sales total below

total_sales = xcart['sum'].sum().astype(float).round(2)
print(total_sales)

72656.55

In [8]:
##Filters out the florida orders and displays shippers reference and item price columns

florida_xcart = xcart.loc[xcart['toState']=='FL', ['orderNumber', 'itemPrice', 'sum']]

In [9]:
##adds a taxes column and multiplies the sum price by the taxes

florida_xcart['taxes'] = florida_xcart['sum'] * tax

print(florida_xcart)

   orderNumber  itemPrice      sum     taxes
4     ="37087"     699.95  1399.90  90.99350
46    ="37103"     699.95   699.95  45.49675

In [11]:
duplicate_order = xcart[xcart.orderNumber.duplicated(keep=False)].sort_values("orderNumber")
duplicate_order = duplicate_order[['orderNumber', 'itemTitle']]
print(duplicate_order)

   orderNumber                                          itemTitle
34    ="37151"     HCG Exclusive Predator Bio Helmet Prop Replica
36    ="37151"                HCG Exclusive Predator Plasmacaster
35    ="37151"  HCG Exclusive Predator 2 Life-Size Netgun and ...
55    ="37177"                            Predator 2 Plasmacaster
54    ="37177"                              Predator Plasmacaster
53    ="37177"                              Predator Plasmacaster
52    ="37177"                              Predator Plasmacaster
51    ="37177"  Predator 2 Life-Size Netgun and Speargun Proje...
32    ="37377"                                                NaN
31    ="37377"                HCG Exclusive Predator Plasmacaster
7     ="37692"   HCG Exclusive Predator 2 Smart Disc Prop Replica
11    ="37692"                         SDCC Exclusive Dog Tag Set
10    ="37692"        Colonial Marines Dog Tags - Second Wave Set
9     ="37692"         Colonial Marines Dog Tags - First Wave Set
8     ="37692"  HCG Exclusive Predator 2 Life-Size Netgun and ...
58    ="37761"                HCG Exclusive Predator Plasmacaster
59    ="37761"     HCG Exclusive Predator Bio Helmet Prop Replica
29    ="38111"                HCG Exclusive Predator Plasmacaster
28    ="38111"     HCG Exclusive Predator Bio Helmet Prop Replica
27    ="38111"   HCG Exclusive Predator 2 Smart Disc Prop Replica
30    ="38111"  HCG Exclusive Predator 2 Life-Size Netgun and ...
75    ="38995"                             Tomenosuke Blaster Air
76    ="38995"                     Tomenosuke Compact Blaster Kit