In [27]:
import pandas as pd

In [28]:
# This is the name of the CSV file

preorder_df = pd.read_csv("preorders.csv")

In [29]:
#Change the productName to what you're looking for and change the itemPrice to the listed price of the item.

productName= "1:4 Scale Rocky Statue"
itemPrice = 599

In [47]:
#filters the dataframe with the name of the product
item = preorder_df.loc[preorder_df['itemName']== productName, ['orderNumber', 'customerFirstnameBillingAddressField', 'customerLastnameBillingAddressField', 'itemPrice','itemQuantity', 'itemName']]

#divides the items with those who paid dealer prices and those who did not.
item_customer = item.loc[item['itemPrice']> itemPrice]
item_dealer = item.loc[item['itemPrice']<  itemPrice]

#filter out the sideshow and diamond orders from the dealer orders
sideshow = item_dealer.loc[item_dealer['customerLastnameBillingAddressField']== 'Sideshow Collectibles']
diamond = item_dealer.loc[item_dealer['customerFirstnameBillingAddressField']== 'DIAMOND COMIC DISTRIBUTORS']

#count the sideshow and dealer orders
sideshow_count = sideshow['itemQuantity'].sum()
diamond_count = diamond['itemQuantity'].sum()

#counts the customer and the dealer orders as a whole
total_customer = item_customer['itemQuantity'].sum()
total_dealer = item_dealer['itemQuantity'].sum()

#Subtracts the diamond and the sideshow orders from the dealer orders
dealer_count = total_dealer - (sideshow_count + diamond_count)

#prints everything out nicely
print(f"Total Number of retail customers: {total_customer}")
print(f"Total Number of Sideshow orders: {sideshow_count}")
print(f"Total Number of Diamond orders: {diamond_count}")
print(f"Total Number of Dealer orders: {dealer_count}")

Total Number of retail customers: 0.0
Total Number of Sideshow orders: 9.0
Total Number of Diamond orders: 11.0
Total Number of Dealer orders: 5.0

# **From here on is just data checks**

In [48]:
print(total_dealer)

25.0

In [49]:
print(item_customer)

Empty DataFrame
Columns: [orderNumber, customerFirstnameBillingAddressField, customerLastnameBillingAddressField, itemPrice, itemQuantity, itemName]
Index: []

In [50]:
print(item_dealer)

    orderNumber customerFirstnameBillingAddressField  \
22        38912                               Jerome
57        38595                                 Joel
59        38322                    Victoria Hamilton
60        38321           DIAMOND COMIC DISTRIBUTORS
63        38287                                 Joel

   customerLastnameBillingAddressField  itemPrice  itemQuantity  \
22                              Cooper      420.0           2.0
57                              Boblit      420.0           1.0
59               Sideshow Collectibles      300.0           9.0
60              Attn: Accounts Payable      300.0          11.0
63                              Boblit      420.0           2.0

                  itemName
22  1:4 Scale Rocky Statue
57  1:4 Scale Rocky Statue
59  1:4 Scale Rocky Statue
60  1:4 Scale Rocky Statue
63  1:4 Scale Rocky Statue

In [51]:
print(sideshow)

    orderNumber customerFirstnameBillingAddressField  \
59        38322                    Victoria Hamilton

   customerLastnameBillingAddressField  itemPrice  itemQuantity  \
59               Sideshow Collectibles      300.0           9.0

                  itemName
59  1:4 Scale Rocky Statue

In [52]:
print(diamond)

    orderNumber customerFirstnameBillingAddressField  \
60        38321           DIAMOND COMIC DISTRIBUTORS

   customerLastnameBillingAddressField  itemPrice  itemQuantity  \
60              Attn: Accounts Payable      300.0          11.0

                  itemName
60  1:4 Scale Rocky Statue